<h1>Refresh Token Expired</h1>
<p>
  The refresh token for user <%= @user.name %> (<%= @user.email %>) has expired.
</p>
<p>
  Calendar data for this user can no longer be synced automatically.
</p>